.app {
  background: var(--darkGrey);
  border: 18px solid var(--black);
  border-radius: 30px;
  max-width: 1100px;
  height: 800px;
  margin: auto;
  margin-top: 40px;
  box-shadow: 0px 0px 72px -23px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: stretch;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.app__header {
  padding: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.header-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.header-search span {
  color: var(--lightGreyText);
  font-size: 20px;
}

.search-wrapper {
  position: relative;
}

.search-wrapper::before {
  content: '';
  background: url('./icons/search.svg');
  width: 17px;
  height: 17px;
  top: 28%;
  left: 6%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}

.app__content {
  width: 100%;
}

.filter-wrapper {
  position: relative;
  z-index: 15;
}

.filter-wrapper .tag img {
  height: 15px;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: -3px;
  margin-bottom: 1px;
  mix-blend-mode: soft-light;
}

.filter-wrapper .tag--inquisitor img,
.filter-wrapper .tag--boy img,
.filter-wrapper .tag--girl img,
.filter-wrapper .tag--expelled img {
  margin-bottom: 2px;
}

.filter-wrapper .tag--selected img.add-icon {
  display: none;
}

.filter-wrapper .tag:not(.tag--selected) img.remove-icon {
  display: none;
}
