.app__details {
  margin-right: -600px;
  width: 600px;
  height: 100%;
  padding: 30px;
  background: var(--darkGrey);
  color: var(--lightGreyText);
  text-align: center;
  box-shadow: 0px 0px 72px -23px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 10;
}

.app__details.open {
  margin-right: 0;
}

.app__details h3 {
  font-size: 26px;
  color: var(--accentColor);
}

.app__details .name {
  padding-top: 20px;
}

.app__details .house {
  padding-top: 5px;
  display: block;
}

.label {
  width: 55%;
  background: var(--hufflepuff);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-wrapper {
  display: inline-block;
  padding: 10px;
  background: red;
  border-radius: 31px;
  margin-top: 50px;
}

.image-wrapper img {
  width: 122px;
  height: 128px;
  object-fit: contain;
  display: block;
  border-radius: 27px;
}

.close-details {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
  outline: 0;
}

.close-details img {
  width: 15px;
  height: 15px;
}
