.app__details {
  margin-right: -600px;
  width: 600px;
  height: 100%;
  padding: 30px;
  background: var(--darkGrey);
  color: var(--lightGreyText);
  text-align: center;
  box-shadow: 0px 0px 47px -22px rgb(0 0 0 / 75%);
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom -50px right -50px;
  background-size: 90%;
  background-blend-mode: overlay;
}

.app__details.ravenclaw {
  background-image: url(./icons/Ravenclaw.svg);
}
.app__details.hufflepuff {
  background-image: url(./icons/Hufflepuff.svg);
}
.app__details.gryffindor {
  background-size: 70%;
  background-image: url(./icons/Gryffindor.svg);
}
.app__details.slytherin {
  background-size: 70%;
  background-position: bottom -80px right -20px;
  background-image: url(./icons/Slytherin.svg);
}

.app__details.expelled .image-wrapper {
  filter: grayscale(1);
  opacity: 0.3;
}

.app__details.expelled .buttons {
  opacity: 0.3;
  pointer-events: none;
}

.app__details.open {
  margin-right: 0;
}

.app__details h3 {
  font-size: 26px;
  color: var(--accentColor);
}

.app__details .name {
  padding-top: 20px;
}

.app__details .house {
  padding-top: 5px;
  display: block;
}

.label {
  width: 55%;
  background: var(--hufflepuff);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image-wrapper {
  display: inline-block;
  padding: 10px;
  background: red;
  border-radius: 31px;
  position: relative;
}

.expelled-label {
  margin-top: 50px;
  position: relative;
}
.expelled-label::before {
  content: 'Expelled';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 20px;
}

.image-wrapper img {
  width: 122px;
  height: 128px;
  object-fit: cover;
  display: block;
  border-radius: 27px;
}

.close-details {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 20px;
  outline: 0;
}

.close-details img {
  width: 15px;
  height: 15px;
}

.buttons {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: auto;
}

.button--inquisitor {
  grid-column: span 2;
}

.button {
  border: 2px solid var(--lightGreyText);
  border-radius: 5px;
  padding: 6px 15px;
  color: var(--lightGreyText);
  background: transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.button:hover {
  border: 2px solid var(--white);
  color: var(--white);
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

.information ul {
  list-style-type: none;
}

.information li {
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  line-height: 1.7;
}

.information li span {
  font-weight: 600;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0;
}

.tags .tag {
  margin-right: 5px;
  cursor: default;
}

.tags .tag {
  animation: appear 0.5s ease-in-out;
}
