@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkGrey: #272727;
  --black: #191919;
  --grey: #393939;
  --lightGrey: #333333;
  --red: #f8454d;
  --green: #2b8d83;
  --yellow: #ffaa00;
  --blue: #3783da;
  --greyText: #4b4b4b;
  --lightGreyText: #919191;
  --gryffindor: var(--red);
  --slytherin: var(--green);
  --ravenclaw: var(--blue);
  --hufflepuff: var(--brown);
  --accentColor: ghostwhite;
  --white: ghostwhite;
  --brown: #cb8d1a;
  --verticalMargin: 10vh;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--greyText);
  background: var(--black);
  background-color: #181818;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: calc(var(--verticalMargin) / 2);
  overflow: hidden;
  background: radial-gradient(rgba(255, 255, 255, 0.226) -232%, black);
}

body.ravenclaw {
  background: radial-gradient(rgb(2 127 222 / 37%) -232%, black);
}

body.hufflepuff {
  background: radial-gradient(rgb(236 176 31 / 68%) -232%, black);
}

body.slytherin {
  background: radial-gradient(rgb(75 142 118 / 64%) -232%, black);
}

body.gryffindor {
  background: radial-gradient(rgb(189 52 52 / 58%) -232%, black);
}

h1 {
  font-size: 30px;
  color: var(--greyText);
}

input[type='text'] {
  background: var(--lightGrey);
  border: none;
  border-radius: 60px;
  padding: 12px 30px;
  padding-left: 50px;
  outline: none;
  color: #f0ebd8;
}

input[type='text']::placeholder {
  color: #f0ebd8;
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--grey); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background: var(--darkGrey); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--grey); /* creates padding around scroll thumb */
}

.appear {
  animation: appear 0.5s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.anime {
  animation: anime 0.1s ease-in-out;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

body .app .disappear {
  animation: disappear 1s ease-in-out;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body .app .jumpout {
  animation: jumpout 0.7s cubic-bezier(0.65, -0.37, 0.435, 1.055);
  z-index: 1000;
}

@keyframes jumpout {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
