@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkGrey: #272727;
  --black: #191919;
  --grey: #393939;
  --lightGrey: #333333;
  --red: #f8454d;
  --green: #2b8d83;
  --yellow: #ffaa00;
  --blue: #3783da;
  --greyText: #4b4b4b;
  --lightGreyText: #919191;
  --gryffindor: var(--red);
  --slytherin: var(--green);
  --ravenclaw: var(--blue);
  --hufflepuff: var(--brown);
  --accentColor: ghostwhite;
  --white: ghostwhite;
  --brown: #cb8d1a;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--greyText);
  background: var(--black);
}

h1 {
  font-size: 30px;
  color: var(--greyText);
}

input[type='text'] {
  background: var(--lightGrey);
  border: none;
  border-radius: 60px;
  padding: 12px 30px;
  padding-left: 50px;
  outline: none;
  color: #f0ebd8;
}

input[type='text']::placeholder {
  color: #f0ebd8;
}

*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--grey); /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background: var(--darkGrey); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--grey); /* creates padding around scroll thumb */
}
