.table {
  width: 100%;
  padding: 10px;
  border-collapse: collapse;
}

.table__header th {
  text-align: left;
  font-weight: 500;
}

td,
th {
  padding: 10px 15px;
}

.table tr:nth-child(odd):not(thead tr) {
  background: var(--lightGrey);
}

.table tbody tr {
  cursor: pointer;
  background: var(--darkGrey);
  user-select: none;
}
.table tbody tr:hover {
  filter: contrast(0.8);
}

.table thead tr th {
  cursor: pointer;
  user-select: none;
  position: sticky;
  top: 0;
  background: var(--darkGrey);
  z-index: 10;
  font-size: 15px;
}

.table thead tr th::before {
  content: '';
  background: var(--black);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
}
.table-footer {
  z-index: 10;
}
.table-info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.count {
  font-size: 14px;
}
.count-value {
  font-size: 15px;
}
.table-footer-cell {
  cursor: pointer;
  user-select: none;
  position: sticky;
  bottom: 0;
  background: var(--darkGrey);
}

.table-footer-cell::before {
  content: '';
  background: var(--black);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 100%;
  left: 0;
}

.table thead tr th.filter-cell:hover {
  background: var(--grey);
  color: var(--accentColor);
}
.table thead tr th:hover svg path {
  fill: var(--accentColor);
}

.table thead tr th svg {
  width: 13px;
  height: 13px;
  vertical-align: middle;
}

.table td:nth-child(1),
.table th:nth-child(1) {
  padding-left: 20px;
}

.table td {
  color: var(--lightGreyText);
}

.table td[data-field='rownumber'] {
  font-weight: 300;
}

.tag {
  color: var(--white);
  background: var(--slytherin);
  display: inline-block;
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.filter-wrapper .tag {
  margin-bottom: 5px;
}

.tag--slytherin {
  background: var(--slytherin);
}
.tag--hufflepuff {
  background: var(--hufflepuff);
}
.tag--ravenclaw {
  background: var(--ravenclaw);
}
.tag--gryffindor {
  background: var(--gryffindor);
}

.table .tag--slytherin {
  background: var(--slytherin);
  background: url('./images/slytherin-bcg.png');
}
.table .tag--hufflepuff {
  background: var(--hufflepuff);
  background: url('./images/hufflepuff-bcg.png');
}
.table .tag--ravenclaw {
  background: var(--ravenclaw);
  background: url('./images/ravenclaw-bcg.png');
}
.table .tag--gryffindor {
  background: var(--gryffindor);
  background: url('./images/gryffindor-bcg.png');
}

.tag--house {
  padding: 0 15px 0 0;
  overflow: hidden;
}

.tag__count {
  padding: 7px 10px;
  display: inline-block;
  margin-right: 7px;
  background: rgba(255, 255, 255, 0.3);
}

.tag--prefect {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23c58000'/%3E%3Cstop offset='1' stop-color='%23c58000'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='17' height='17' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='8.5' cy='8.5' r='8.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.19'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: 0 30px;
  color: var(--black);
  font-weight: 700;
}

.filter-wrapper .tag {
  opacity: 0.5;
}

.filter-wrapper .tag--selected {
  opacity: 1;
}

.tag--boy {
  background: var(--darkGrey);
  border: 2px solid var(--blue);
  padding: 5px 13px;
  color: var(--blue);
}

.tag--girl {
  background: var(--darkGrey);
  border: 2px solid var(--red);
  padding: 5px 13px;
  color: var(--red);
}

.tag--expelled {
  background: var(--lightGrey);
  border: 2px solid var(--lightGreyText);
  color: var(--lightGreyText);
  padding: 5px 13px;
}

.tag--inquisitor {
  background: var(--black);
  border: 2px solid var(--brown);
  color: var(--brown);
  padding: 5px 13px;
}
